daemon {
    listen = {
        "tcp://127.0.0.1:4444"
    }
    log_level = 2
}

db {
    host = 127.0.0.1
    port = 5434
    name = yeti
    user = yeti
    pass = yeti
    schema = lnp
    conn_timeout = 0
    check_interval = 5000
}

sip {
    contact_user = yeti-lnp-resolver
    from_uri = sip:yeti-lnp-resolver@localhost
    from_name = yeti-lnp-resolver
}

prometheus {
    host = 127.0.0.1
    port = 9091
    #label(host,localhost)
}
