Source: yeti-lnp-resolver
Section: net
Priority: optional
Maintainer: Michael Furmur <furmur@pm.me>
Build-Depends: build-essential, debhelper, devscripts, cmake, dh-make, pkg-config, libcurl4-openssl-dev, libpqxx-dev, libssl-dev, zlib1g-dev
Standards-Version: 3.9.5

Package: yeti-lnp-resolver
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LNP resolver for YETI project
 provides LNP daemon implementation which processes requests from
 yeti-pg-ext functions family: lnp_resolve_*
