#!/usr/bin/make -f

BUILD_DIR=build
DEB_BUILD_OPTIONS:=$(DEB_BUILD_OPTIONS) reproducible=-fixfilepath

dh_args=--buildsystem=cmake --builddirectory=$(BUILD_DIR) --parallel
%:
	dh $@ $(dh_args)

override_dh_installsystemd:
	dh_installsystemd --no-start --no-stop-on-upgrade
