[Unit]
Description=YETI Local Number Portability remote database driver
Documentation=https://yeti-switch.org/docs/
After=postgresql.service network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=root
LimitNOFILE=65536
LimitCORE=infinity

ExecStart=/usr/bin/yeti_lnp_resolver
Type=simple
Restart=always
